header {
  position: relative;
  background-color: black;
  height: 100vh;
  overflow: hidden;

  video {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 0;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}